kenken
proftest_solvers
proftest_solver_bruteforce
proftest_solver_opt_bruteforce
proftest_solver_blocksize_sort
proftest_solver_logic
proftest_generator
covtest
*_test
test_grid*
*.out
.nfs*
doc/html
doc/latex
*.gcda
*.gcno
*.gcov
analysis*
gmon.out
